@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 10, 10, 10; */
    /* --background-end-rgb: 199, 199, 199; */
    --background-start-rgb: 43, 43, 43;
    --background-end-rgb: 43, 43, 43;
    color: white;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb)); */
}

/* body {
  background: linear-gradient(-45deg, #b7c9d9, #429ef4, #e78524, #440a4b);
  background-size: 400% 400%;
  animation: backgroundChange 15s ease infinite;
} */

@keyframes backgroundChange {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Myeongjo';
  font-weight: 500;
  src: url('/fonts/NanumMyeongjo.ttf') format('truetype');
}

@font-face {
  font-family: 'HSBombaram21-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSBombaram21-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* my */

p,
a {
  font-family: 'Nanum Myeongjo';
  font-weight: normal;
  text-decoration: none;
}

header,
h1,
h2,
h3 {
  font-family: 'Nanum Myeongjo';
  font-weight: 700;
}

html {
  font-family: 'Nanum Myeongjo';
  font-size: 16px;
  -webkit-text-size-adjust: none;

  @media screen and (min-device-width: 320px) {
    html {
      font-size: 62.5%;
    }
  }
}

body {
  font-family: 'Nanum Myeongjo', serif;
  color: white;
}

.bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../public/image/bg_airplane.jpg') no-repeat center;
  background-size: cover;
  background-attachment: scroll;
  z-index: -1;
}

.navbar {
  backdrop-filter: blur(10px);
  box-shadow: 0px -5px 5px -2px rgba(0, 0, 0, 0.5);
}

.submit-form {
  backdrop-filter: blur(10px);
  background-color: rgba(221, 221, 221, 0.1);
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
}

input::placeholder {
  font-size: 0.9rem;
}

button:disabled {
  background-color: #e1e1e1;
  color: gray;
}

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
@media all and (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 112.5%;
  }
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 106.3%;
  }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  html {
    font-size: 106.3%;
  }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  html {
    font-size: 100%;
  }
}
